.todoTitle {
    font-size: 24px;
    color: #3abeaa;
}

.editBtn {
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
    background-color: #2f526e;
    color: white;
    outline: none !important;
    border: 2px solid #3abeaa;
    border-radius: 5px;
}

.submitBtn {
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
    background-color: #2f526e;
    color: white;
    outline: none !important;
    border: 2px solid #3abeaa;
    border-radius: 5px;
}

.removeBtn {
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
    background-color: #2f526e;
    color: white;
    outline: none !important;
    border: 2px solid #3abeaa;
    border-radius: 5px;
}