.todoElements {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
}

.todoElement {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
}

.notFound {
    font-size: 30px;
    color: green;
}