:root {
    --hoverBgColor: #1d4465;
    --hoverColor: #8462cc;
    --hoverBorder: 2px solid #1bc569;
    --hoverBorderRadius: 5px;
}

.todoElements {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
}

.todoElement {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
}

.notFound {
    font-size: 30px;
    color: rgba(0, 128, 0, 0.78);
}

.filterBtns {
    margin-left: 190px;
    margin-bottom: 15px;
}

.filterBtn {
    height: 24px;
    font-size: 14px;
    margin-left: 5px;
    background-color: #2f526e;
    color: white;
    outline: none !important;
    border: 2px solid #3abeaa;
    border-radius: 5px;
    cursor: pointer;
}

.filterBtn:hover {
    background-color: var(--hoverBgColor);
    color: var(--hoverColor);
    border: var(--hoverBorder);
    border-radius: var(--hoverBorderRadius);
}