
.todoTitile {
    display: flex;
    justify-content: center;
    color: #3abeaa;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input {
    width: 500px;
    height: 33px;
    outline: none !important;
    border: 2px solid #3abeaa;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
}

.addBtn {
    height: 40px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
    background-color: #2f526e;
    color: white;
    outline: none !important;
    border: 2px solid #3abeaa;
    border-radius: 5px;
}